
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ribeye&family=Ribeye+Marrow&display=swap');

/*
font-family: "Ribeye", serif;
font-family: "Ribeye Marrow", serif;
font-family: "EB Garamond", serif;
*/

* {
    box-sizing: border-box;
}

nav {
    position: sticky;
    top:0;
    padding:0%
}

nav ul {
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
 }

nav ul li a {
    text-decoration: none;

    color: #578d15;
    display: block;
    text-align: center;
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    
}

nav a:hover {
    color: #be2e16;
}

header {
    background: #589;
    padding: 10px;
    background-image: url('../images/pexels-pixabay-326281.jpg');
    height: 250px;
    background-size: cover;
    background-position: 10%;

}

header h1 {
    text-align: right;
    font-size: 3.5rem;
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding-right: 50px;

}

header h1 span {
    display: block;
    font-family: "Ribeye Marrow", serif;
    font-size: 0.85em;
}

main {
    display: flex;
    flex-flow: row wrap;
}

main section {
    flex: 1 1 33%;
    padding: 10px;
}

.info {
    font-family: "EB Garamond", serif;
}

section img {
    max-width: 100%;
}

section h2 {
    font-family: "Ribeye", serif;
    padding: 10px
}

footer {
    padding: 15px;
}

footer {
    background-color: #c4c4c4;
    padding: 5px;
    margin-top: 50px;
}
