nav {
        position: sticky;
        top:0;
        padding:0%
    }
    
    nav ul {
        background: #fff;
        list-style: none;
        display: flex;
        justify-content: center;
     }
    
    nav ul li a {
        text-decoration: none;

        color: #578d15;
        display: block;
        text-align: center;
        margin: 2px;
        padding: 10px;
        border-radius: 10px;
        
    }
    
    nav a:hover {
        color: #be2e16;
    }

main {
        display: grid;
        grid-template-columns:3fr 9fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "ingredients instructions"
        "ingredients food-graphic"
        "ingredients nutrition";
   }
   
   section:nth-of-type(1) {
    background: #aaa;
    color: #fff;
    line-height: 30px;
    grid-area: ingredients;
    }

   section:nth-of-type(2) {
    grid-area: instructions;
   }
   
   section:nth-of-type(3) {
    grid-area: food-graphic;
   }
   section:nth-of-type(4) {
    grid-area: nutrition;
   }

   .nutrition ul {
    list-style-type: none;
    display: inline-block;
    padding:5px;
    margin:0;
    display: flex;
    justify-content:space-between;
    font-weight: bold;
    }
    
    .nutrition ul li {
    border: 1px solid #000;
    display: inline-block;
    }
    
    .nutrition ul span {
    display: block;
    padding: 1rem;
    border: 1px solid #589;
    text-align: center;
    }
    