
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
font-family: "Luckiest Guy", cursive;
font-family: "Fredoka", sans-serif;
font-family: "Tuffy", sans-serif;
*/
* {
    box-sizing: border-box;
}
nav {

    top:0;
    padding:0%
}

nav ul {
    background: #500d41;
    list-style: none;
    display: flex;
    justify-content: right;
    border: 2px solid rgb(7, 134, 7);
    font-family: "Fredoka", sans-serif;
 }

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    margin:5px;
    padding: 7px;
    border-radius: 40px;
}
nav a:hover {
    background: #16be8c;
}
h2 {
    color: #500d41;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    border-bottom: solid 2px #555555;
}

main {
    text-align: center;
    }

    h3 {
        text-align: center;
    }
   
 section {

font-family: "Tuffy", sans-serif;
text-align: center;
 }
 ul {
    text-align: center;
    list-style-type: none;
    font-family: "Tuffy", sans-serif;
}

table, tr, td {
 margin-left: auto;
margin-right: auto;
border: 1px solid #555;
border-collapse: collapse;
padding: 35px;
color:#500d41
     }
     table th {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #555;
        border-collapse: collapse;
        padding: 35px;
        color:#fff
     }
     tbody tr td:first-child { 
        background: #500d41;
        color: #1ce3b2;
        font-weight: bold;
     }
     
            
thead {
color: #1ce3b2;
background-color: #000;
        }
form {


    padding: 50px
}
        
footer {
    margin-top: 10px;
    background: #500d41;
    font-family: "Fredoka", sans-serif;
    color: #fff;
    padding: 10px;
    text-align: center;
}