@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: "Fredericka the Great", serif;
font-family: "Space Mono", monospace;

*/

header {
    background: #000;
    color: #48b7eb;
    padding: 20px;
    top: 0;
    text-align: center;
    font-size: 10px;
    font-stretch: 100%;
    line-height: 10%;
    height: 20px;
    background-size: cover;
    background-position: 100%;

}

blockquote {
    text-align: center;
    font-size: xx-large;
    color: #01b938;
    font-family: "Fredericka the Great", serif;
}

main {
padding: 30px;
text-align: center;
color: #ff0000;
}

section h2 {
text-align: center;
font-family: "Fredericka the Great", serif;
}
section :nth-of-type(1) {
    box-sizing: border-box;
    height: 50px;
    width: 500px;
    text-align: justify;
    font-family: "Space Mono", monospace;
}
section :nth-of-type(2) {
    box-sizing: border-box;
    height: 50px;
    width: 500px;
    text-align: justify;
    font-family: "Space Mono", monospace;
}
section :nth-of-type(3) {
    box-sizing: border-box;
    height: 50px;
    width: 500px;
    text-align: justify;
    font-family: "Space Mono", monospace;
}
   
section {
        display: inline-flex;
        flex-flow: row wrap;
        flex-direction: column;
}

section {
    flex: 1 1 100%;
    padding: 10px;
}
section :nth-of-type(4) {
    text-align: center;
        }


footer {
    margin-top: 10px;
    background: #000;
    color: #48b7eb;
    padding: 2px;
    font-family: "Space Mono", monospace;
}

