@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: "Fredericka the Great", serif;
font-family: "Space Mono", monospace;

*/
a {
    font-family: "Space Mono", monospace;
}
header {
    background: #000;
    color: #48b7eb;
    padding: 20px;
    top: 0;
    text-align: center;
    font-size: 10px;
    font-stretch: 100%;
    line-height: 10%;
    height: 20px;
    background-size: cover;
    background-position: 100%;

}

blockquote {
    text-align: center;
    font-size: xx-large;
    color: #01b938;
    font-family: "Fredericka the Great", serif;
}

main {
padding: 30px;
text-align: center;
color: #ff0000;
}
a {
    text-align: center;
}
section {
text-align: center;
font-family: "Space Mono", monospace;
}
table, tr, th, td {
    margin-left: auto;
    margin-right: auto;
        border: 1px solid #555;
        border-collapse: collapse;
        padding: 10px;
        }
    
footer {
    margin-top: 10px;
    background: #000;
    color: #48b7eb;
    padding: 2px;
    text-align: justify;
    font-family: "Space Mono", monospace;
}

